header{
    background-color: plum;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-bottom: 2px;
    padding: 1px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}
form {
    padding: 20px;
    text-align:right ;
    
    
    
}
button {
    padding: 4px;
    background-color: rgb(69, 168, 230);
    cursor: pointer;
    border-radius: 5px;
    color: white;
    
}
button:hover {
    background-color:rgb(216, 175, 203);
}